@use '../../utils' as *;

.tpfeature{
    padding: 25px;
    border-radius: 20px;
    overflow: hidden;
    @include transition(.3s);
    @media #{$lg}{
      padding: 18px;
      padding-bottom: 15px;
    }
    @media #{$md,$xs,$sm}{
      padding: 18px;
      margin-bottom: 20px;
    }
    &__num {
        display: inline-block;
        background: var(--tp-theme-color);
        color: var(--tp-white-color);
        font-size: 18px;
        letter-spacing: -0.02em;
        font-weight: 600;
        padding: 0 11px;
        border-radius: 20px;
        height: 30px;
        &-2{
          background-color: var(--tp-secoundery-color);
          color: var(--tp-theme-color);
          @include transition(.3s);
        }
    }
    &__title{
        margin-bottom: 13px;
        line-height: 1;
        @include transition(.3s);
        @media #{$lg,$md}{
            font-size: 20px;
            margin-bottom: 5px;
        }
        @media #{$xs,$sm}{
            font-size: 18px;
        }
    }
    &__deg {
        opacity: 0;
        margin-bottom: -100px;
        @include transition(.3s);
        @media #{$lg}{
          margin-bottom: -125px;
        }
        @media #{$xs}{
          margin-bottom: -130px;
        }
    }
    &__wrap{
        display: flex;
        grid-gap: 15px;
        @media #{$lg}{
            grid-gap: 10px;
        }
    }
    &__content{
      transform: translateY(3px);
    }
    &:hover,&.active{
      background-color: var(--tp-secoundery-color);
      &.tpfeature__white{
        background-color: var(--tp-white-color);
      }
      & .tpfeature__num-2{
        background-color: var(--tp-theme-color);
        color: var(--tp-white-color);
      }
      & .tpfeature__title{
        color: var(--tp-theme-color);
      }
      & .tpfeature__deg{
        opacity: 1;
        margin-bottom: 0;
      }
      & .tpfeature__content{
        transform: translateY(0);
      }
    }
    
}

.tp-feature{
  &-end{
    align-items: flex-end;
  }
  &-icon{
    &-box{
      &-main{
        margin: 0 15px;
      }
      & span{
        font-size: 20px;
        font-weight: 600;
      }
      &-icon{
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 400px;
        width: 130px;
        height: 130px;
        @include flex-center();
        margin: 0 auto;
        @include transition(.4s);
      }
      &:hover{
        & .tp-feature-icon-box-icon{
          background-color: var(--tp-white-color);
          border-color: transparent;
        }
      }
    }
  }
  &-spacing{
    padding-top: 180px;
    padding-bottom: 130px;
  }
  &-bg{
      &::after{
        position: absolute;
        content: "";
        background: linear-gradient(180deg, rgba(245, 245, 245, 0) 26.92%, #F5F5F5 60%);
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
      }
    &-shape{
      top: 80px;
      right: 0;
      z-index: -1;
    }
  }
  &-demo{
    &-back{
      &-text{
        letter-spacing: -0.04em;
        font-weight: 700;
        font-size: 320px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke: 2px rgba(245, 245, 245, 0.55);
        color: transparent;
        font-family: var(--tp-poppins-font);
        line-height: 250px;
      }
    }
    &-title{
      font-size: 90px;
      letter-spacing: -0.04em;
      margin-top: -50px;
    }
    &-grup{
      grid-gap: 90px;
      & span{
        display: flex;
        align-items: center;
        grid-gap: 6px;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: var(--tp-white-color);
        & a{
          color: var(--tp-theme-color);
          width: 18px;
          height: 18px;
          background-color: var(--tp-secoundery-color);
          border-radius: 20px;
          line-height: 18px;
          text-align: center;
        }
      }
    }
    &-main{
      padding: 0 145px;
    }
    &-spacing{
      padding-top: 145px;
      padding-bottom: 100px;
    }
  }
}

.tpstatus{
  padding: 6px;
  background-color: var(--tp-white-color);
  min-height: 420px;
  &__num {
    font-size: 80px;
    letter-spacing: 0;
    line-height: 75px;
  }
  &__content{
    & span{
      font-size: 18px;
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 37px;
      padding-top: 32px;
    }
  }
  &__img{
    min-width: 338px;
    border-radius: 20px;
    & img{
      border-radius: 4px;
    }
    &-1{
      left: 33px;
      bottom: 73px;
      z-index: 1;
    }
    &-2{
      top: 34px;
      right: 30px;
    }
    &-3{
      top: 30px;
      left: 30px;
    }
    &-4{
      top: 73px;
      right: 27px;
    }
    &-5{
      bottom: 97px;
      right: 27px;
    }
    &-6{
      bottom: 20px;
      left: 60px;
    }
  }
}


.tp-status{
  background-color: var(--tp-white-color);
  padding: 6px;
  padding-top: 64px;
  z-index: 1;
  &-thumb {
    flex: 0 0 auto;
  }
  &-content{
    &-wrap{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 60px 70px;
      padding-top: 0;
    }
    & p{
      & a{
        font-weight: 500;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  &-title {
    font-size: 36px;
  }
  &-shape{
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.tpfademo{
  background-color: rgba(245, 245, 245, 0.15);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  @include transition(.3s);
  &__links{
    left: 0;
    width: 100%;
    text-align: center;
    bottom: 10px;
    transform: translateY(0);
    opacity: 0;
    visibility: hidden;
    @include transition(.4s);
    & a {
      color: var(--tp-theme-color);
      font-weight: 500;
      display: inline-block;
      background-color: var(--tp-white-color);
      line-height: 1;
      border-radius: 48px;
      padding: 12px 31px;
      &:not(:last-child){
        margin-right: 5px;
      }
      &:hover{
        background-color: var(--tp-secoundery-color);
      }
    }
  }
  &__thumb{
    border-radius: 10px;
    &::before{
      position: absolute;
      content: "";
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55%, #000000 100%);
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      opacity: 0;
      @include transition(.5s);
    }
  }
  &:hover{
    background-color: var(--tp-orange-color);
    & .tpfademo__thumb{
      &::before{
        opacity: 1;
      }
    }
    & .tpfademo__links{
      opacity: 1;
      visibility: visible;
      bottom: 10px;
      transform: translateY(-25px);
    }
  }
  &__blank{
    background-color: rgba(245, 245, 245, 0.15);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    &-thumb{
      border-radius: 10px;
      &::after{
        position: absolute;
        content: "";
        background: linear-gradient(239.18deg, rgba(255, 255, 255, 0.4) 17.93%, rgba(255, 255, 255, 0.4) 81.51%);
        backdrop-filter: blur(20px);
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
      }
    }
    &-shape{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    }
  }
}

.tp-spacial{
  &-feature{
    &-list{
      background-color: var(--tp-secoundery-color);
      width: fit-content;
      padding: 7px 0;
      position: absolute;
      right: 0;
      top: 85px;
      & ul{
        & li{
          list-style: none;
          color: #0D0D0D;
          font-weight: 500;
          font-family: var(--tp-sora-font);
          padding: 8.6px 24px;
          padding-right: 30px;
          &:not(:last-child){
            border-bottom: 1px solid rgba(13, 13, 13, 0.1);   
          }
          & svg{
            margin-right: 8px;
          }
        }
      }
    }
    &-shape{
      right: 0;
      bottom: 0;
      z-index: -1;
    }
    &-area{
      padding-top: 170px;
      padding-bottom: 145px;
    }
  }
}

